.wrapper
  .how-to-content
    .how-to-content__name
    .how-to-content__index
      %h1 サイトの利用方法
    .how-to-content__text
      %p 1.ユーザー登録を行います。(ユーザー登録をしなくてもクイズに挑戦することはできます。)
      %br
    .how-to-content__text
      %p 2.ユーザー登録を行った後、問題作成やマイページに入ることができます。
      %br
    .how-to-content__text
      %p 3.問題形式は3択形式になっています。
      %br
    .how-to-content__text
      %p 4.問題作成ページでは問題を作成することができます。
    .how-to-content__name
    .how-to-content__index
      %h1 問題作成のやり方
    .how-to-content__text
      %p 1.問題作成ページは問題フォームと答えのフォームが3つ、答えに対応する正解フォーム、ジャンル選択があります。
      %br
    .how-to-content__text
      %p 2.問題フォームに問題を入力します。
      %br
    .how-to-content__text
      %p 3.答えのフォームが3つあるのでそれぞれ入力していきます。
      %br
    .how-to-content__text
      %p 4.問題に対する答えを答えフォームの右側にある正解フォームの中から一つ選択します。
      %br
    .how-to-content__text
      %p 5.答えフォームの下にあるジャンルフォームを問題に対応するジャンルを選択します。
      %br
    .how-to-content__text
      %p 6.1~5までを終えた後、作成するボタンを押すことで問題作成が完了します。
    .how-to-content__name