<div class="wrapper">
  <div class="container">
    <% if user_signed_in? %>
      <div class="contents-new">
        <%= link_to "クイズを作成する", new_question_path, class: "contents-new__question" %>
      </div>
    <% end %>
    <%  @questions.each do |question| %>
      <%= render partial: "questions", locals: { question: question } %>
    <% end %>
    <div class="contents-page">
      <%= paginate(@questions) %>
    </div>
  </div>
</div>