<div class="wrapper">
  <div class="container">
    <div class="question">
      <div class="question__tit">
        <h1>問題</h1>
      </div>
      <div class="question__title">
        <%= @question.title %>
      </div>
      <div class="question__ans">
        <h1>解答</h1>
      </div>
    </div>
    <div class="question__answer">
      <% @answers.each do |answer| %>
        <div class="question__answer__ans" data="<%= answer.correct %>" > 
          <%= answer.answer %>
        </div>
      <% end %>
      <div class="question__answer__bg"></div>
      <div class="question__answer__icon"></div>
    </div>
    <div class="question__footer">
      <%= link_to "クイズ一覧に戻る", questions_path, class: "question__footer__quiz"%>
    </div>
  </div>
</div>