.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .container {
    margin-top: 100px;
    padding: 0px 150px;
    text-align: center;

    .contents-create {
      
      &__title {
        width: 150px;
        margin-left: 420px;
        margin-top: 50px;
        font-size: 30px;
        padding: 0.5em 1em;
        border: double 5px #4ec4d3;
      }
      
      &__field {
        margin-top: 30px;
        &__label {
          margin: 10px 0px;
          font-size: 30px;
        }

        &__text {
            
          &__t{
            padding: 10px 20px;
            box-shadow: 0 2px 3px 0 #ddd;
            display: inline-block;
            width: 600px;
            box-sizing: border-box;

          }
          
        }

        &__input {
          &__text {
            display: inline-block;
            margin-left: 160px;
            &__t{
              padding: 10px 20px;
              box-shadow: 0 2px 3px 0 #ddd;
              display: inline-block;
              width: 600px;
              box-sizing: border-box;
            }
            
          }

          &__check {
            display: inline-block;
            margin-left: 30px;
            input[type=radio] {
              // display: none;
              cursor: pointer;
            }

            

            &__l {
              width: 100px;	
              height: 45px;	
              line-height: 45px;	
              text-align: center;	
              border: 2px solid #006DD9;
              border-radius: 5px;	
              display: inline-block;
            }

            // &__l:hover {
            //   background-color: #E2EDF9
            // }

            input[type=radio]:checked + label {
              background: #31A9EE;
              color: #ffffff;
            } 
          }
        }

        &__genre {
          margin-top: 20px;
          &__label {
            margin: 10px;
            font-size: 30px;
          }
          #question_genre_id {
            margin-top: 10px;
            width: 150px;
            height: 30px;
            display: inline-block;
          }
        }

        &__btn {
          margin-top: 30px;
          position: relative;
          display: inline-block;
          padding: 0.25em 0.5em;
          text-decoration: none;
          color: #FFF;
          background:#2b8ae9;/*背景色*/
          border-bottom: solid 2px#2b8ae9;/*少し濃い目の色に*/
          border-radius: 4px;/*角の丸み*/
          box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
          font-weight: bold;
          &__b {
            padding: 100px;
            width: 150px;
            cursor: pointer;
            font-size: 30px;
            display: block;
          }
        }

        &__btn:active {
          border-bottom: solid 2px #fd9535;
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
        }
      }
      &__link {
        margin-top: 50px;
        margin-bottom: 50px;
      }
    }
  }
}