.search-content {
  margin: 0 auto;
  text-align: center;
  &__space {
    margin-top: 150px;
    font-size: 20px;
  }
  &__count {
    width: 300px;
    margin-left: 210px;
    margin-bottom: 30px;
    font-size: 20px;
    padding: 0.5em 1em;
    border: double 5px #4ec4d3;
  }

  &__title {
    width: 700px;
    margin-bottom: 50px;
    font-size: 30px;
    padding: 0.5em 1em;
    background: #f4f4f4;
    border-left: solid 6px #5bb7ae;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
    transition: .4s;

    &__link {
      text-decoration: none;
      width: 100%;
      display: inline-block;
      color: black;
    }
    &__link:hover{
      color: white ;
      background:  #5bb7ae;  
    }
  }
  &__title:hover {
    color: white ;
    background:  #5bb7ae;
  }
}